<div class="container pb-4 mb-4">

    <form [formGroup]="itemForm" (ngSubmit)="submitForm()">

        <div class="form-group">
            <label for="index">
                <span>Index</span>
            </label>
            <input class="form-control form-control-sm" name="index" id="index" type="text" formControlName="index"
            [attr.disabled]="true" style="background-color: whitesmoke;"
            value=""
            >
        </div>

        <div class="form-group">
            <label for="id">
                <span>Internal id</span>
            </label>
            <input class="form-control form-control-sm" name="id" id="id" type="text" formControlName="id"
            [attr.disabled]="true"  style="background-color: whitesmoke;"
            value=""
            >
        </div>
        
        <div class="form-group">
            <label for="creditCardNumber">
                <span>Credit Card Number</span>                
            </label>
            <input class="form-control form-control-sm" name="creditCardNumber" id="creditCardNumber" type="text" 
                formControlName="creditCardNumber"  style="background-color: oldlace;"
                placeholder=""
            value=""
            >
        </div>

        <div class="form-group">
            <label for="cardHolder">
                <span>Card Holder</span>                
            </label>
            <input class="form-control form-control-sm" name="cardHolder" id="cardHolder" type="text" 
                formControlName="cardHolder"  style="background-color: oldlace;"
                placeholder=""
            value=""
            >
        </div>

        <div class="form-group">
            <label for="expirationDate">
                <span>Expiration Date</span>                
            </label>
            <input class="form-control form-control-sm" name="expirationDate" id="expirationDate" type="text" 
                formControlName="expirationDate"  style="background-color: oldlace;"
                placeholder=""
            value=""
            >
        </div>

        <div class="form-group">
            <label for="amount">
                <span>Amount</span>                
            </label>
            <input class="form-control form-control-sm" name="amount" id="amount" type="text" 
                formControlName="amount"  style="background-color: oldlace;"
                placeholder=""
            value=""
            >
        </div>
        
        <div class="form-group">
            <label for="securityCodeCCV">
                <span>Security Code (CCV)</span>                
            </label>
            <input class="form-control form-control-sm" name="securityCodeCCV" id="securityCodeCCV" type="text" 
                formControlName="securityCodeCCV"  style="background-color: oldlace;"
                placeholder=""
            value=""
            >
        </div>
        
             
        <div class="mt-4 mb-3">

            <button type="submit" class="btn btn-outline-secondary px-4 mx-4 py-2 my-2" 
                [disabled]="itemForm.pristine">
                Save changes
            </button>

            <button type="button" class="btn btn-outline-secondary px-4 mx-4 py-2 my-2" 
                (click)="clearItemForm()"
                [routerLink]="['../../../view-all']" 
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: true}">
                Back to all
            </button>
            
            <button type="button" class="btn btn-outline-secondary px-4 mx-4 py-2 my-2" 
                (click)="onCancelOrExitEdit()">              
                <span *ngIf="itemForm.dirty">
                    Cancel edit
                </span>
                <span *ngIf="itemForm.pristine">
                    &nbsp; Exit &nbsp;edit &nbsp;
                </span>
            </button>
            
            <button type="button" class="btn btn-outline-secondary px-4 mx-4 py-2 my-2" 
                (click)="loadItemIntoItemForm()">
                Initial form
            </button>
            
            <button type="button" class="btn btn-outline-secondary px-4 mx-4 py-2 my-2" 
                (click)="clearItemForm()">
                Clear form
            </button>

        </div>

        <div>
            <div *ngIf="showMessageIfModificationIsSavedOnServerWithFailure" style="color: red">
                {{messageIfModificationIsSavedOnServerWithFailure}}
            </div>

            <div *ngIf="showMessageIfWasSavedWithBankSpacesAtMargins" style="color: rgb(7, 204, 230)">
                {{messageIfWasSavedWithBankSpacesAtMargins}}
            </div>
            
            <div *ngIf="showMessageIfModificationIsSavedOnServerWithSuccess" style="color: green">
                {{messageIfModificationIsSavedOnServerWithSuccess}}
            </div>
            
            <div *ngIf="showMessageItemHasNotthingChanged" style="color: blue">
                {{messageItemHasNotthingChanged}}
            </div>

            <div *ngIf="showMessageIfItemFormIsInvalid" style="color: red">
                {{messageIfItemFormIsInvalid}}
            </div>
        </div>

    </form>

</div>