<div class="container my-5 py-5">
    <form (ngSubmit)="onSubmit(createForm)" #createForm="ngForm">
  <div class="form-group">
    <label for="name">Client First Name</label>
    <input
      type="text"
      id="firstName"
      name="firstName"
      class="form-control"
      ngModel
      required
      style="width: 400px"/>
  </div>
  <div class="form-group">
    <label for="side">Client Last Name</label>
    <input
      type="text"
      id="lastName"
      name="lastName"
      class="form-control"
      ngModel
      required
      style="width: 400px"/>
  </div>
  <button [disabled]="createForm.invalid" class="btn btn-primary" type="submit">Create</button>
</form>
</div>

