<div class="container py-4 my-4">

    <h5 class="mt-0 mb-4">Add a new {{itemNameDisplayed}} item</h5>

    <form [formGroup]="ccpFormGroup" (ngSubmit)="!isSavedSuccessfully && onSubmit(ccpFormGroup)" novalidate>

        <div class="form-group">

            <label for="creditCardNumber">Credit Card Number</label>
            
            <label *ngIf="ccpFormGroup.controls['creditCardNumber'].invalid" style="color: red">&nbsp;*&nbsp;</label>
            <label *ngIf="ccpFormGroup.controls['creditCardNumber'].valid" style="color: darkgreen">&nbsp;&nbsp;<i class="fas fa-check"></i>&nbsp;</label>

            <span *ngIf="ccpFormGroup.controls['creditCardNumber'].dirty" >
        
                <span>
            
                    <span *ngIf="ccpFormGroup.controls['creditCardNumber'].hasError('spacesArePresent')" class="alert alert-danger small  p-1" align="center">
                        Spaces are not accepted.
                    </span>

                    <span *ngIf="ccpFormGroup.controls['creditCardNumber'].hasError('areNotOnlyDigits')" class="alert alert-danger small  p-1" align="center">
                        Only digits are a valid input.
                    </span>
                                            
                </span>
            
                <span *ngIf="ccpFormGroup.controls['creditCardNumber'].touched 
                          && ccpFormGroup.controls['creditCardNumber'].invalid">
            
                    <span *ngIf="ccpFormGroup.controls['creditCardNumber'].errors?.minlength
                            || ccpFormGroup.controls['creditCardNumber'].errors?.maxlength" class="alert alert-danger small  p-1" align="center">
                        Length must be of exactly {{fixedlength_creditCardNumber}} digits.
                    </span>
            
                </span>
            
            </span>

            <span *ngIf="ccpFormGroup.controls['creditCardNumber'].touched">
            
                <span *ngIf="ccpFormGroup.controls['creditCardNumber'].errors?.required" class="alert alert-danger small  p-1" align="center">
                    Credit Card Number is required.
                </span>
            
            </span>
            
            <input type="text" 
                id="creditCardNumber"  
                formControlName="creditCardNumber" 
                class="form-control form-control-sm" 
                minlength="{{fixedlength_creditCardNumber}}"
                maxlength="{{fixedlength_creditCardNumber}}"
                readonly="{{readonlyAfterSave}}" 
                required 
                autofocus />

        </div>


        <div class="form-group">

            <label>Card Holder</label>
            
            <label *ngIf="ccpFormGroup.controls['cardHolder'].invalid" style="color: red">&nbsp;*&nbsp;</label>
            <label *ngIf="ccpFormGroup.controls['cardHolder'].valid" style="color: darkgreen">&nbsp;&nbsp;<i class="fas fa-check"></i>&nbsp;</label>

            <span *ngIf="ccpFormGroup.controls['cardHolder'].dirty" >
            
                <span>
            
                    <span *ngIf="ccpFormGroup.controls['cardHolder'].hasError('spacesArePresentAtMargins')" class="alert alert-danger small  p-1" align="center">
                        Spaces are not accepted at margins.
                    </span>

                    <span *ngIf="ccpFormGroup.controls['cardHolder'].hasError('anExpectedStringNameStartWithDigit')" class="alert alert-danger small  p-1" align="center">
                        Holder name cannot start with a digit.
                    </span>
                                            
                </span>
            
                <span *ngIf="ccpFormGroup.controls['cardHolder'].touched">
            
                    <span *ngIf="ccpFormGroup.controls['cardHolder'].errors?.minlength
                            || ccpFormGroup.controls['cardHolder'].errors?.maxlength" class="alert alert-danger small  p-1" align="center">
                        Length must be bewteen {{minlength_cardHolder}} and {{maxlength_cardHolder}}.
                    </span>
            
                </span>
            
            </span>

            <span *ngIf="ccpFormGroup.controls['cardHolder'].touched 
                      && ccpFormGroup.controls['cardHolder'].invalid">
            
                <span *ngIf="ccpFormGroup.controls['cardHolder'].errors?.required" class="alert alert-danger small  p-1"
                    align="center">
                    Card Holder is required.
                </span>
            
            </span>
            
            <input type="text" 
                class="form-control form-control-sm" 
                id="cardHolder"
                formControlName="cardHolder" 
                readonly="{{readonlyAfterSave}}" 
                minlength="{{minlength_cardHolder}}"
                maxlength="{{maxlength_cardHolder}}"
                required        
                placeholder=""        
                autofocus />
        </div>


        <div class="form-group">
            <label>Expiration Date (yyyy-mm-dd)</label>
            
            <label *ngIf="ccpFormGroup.controls['expirationDate'].invalid" style="color: red">&nbsp;*&nbsp;</label>
            <label *ngIf="ccpFormGroup.controls['expirationDate'].valid" style="color: darkgreen">&nbsp;&nbsp;<i class="fas fa-check"></i>&nbsp;</label>

            touched: {{ccpFormGroup.controls['expirationDate'].touched}}
            dirty: {{ccpFormGroup.controls['expirationDate'].dirty}}
            valid: {{ccpFormGroup.controls['expirationDate'].valid}}

            <!-- <span *ngIf="ccpFormGroup.controls['expirationDate'].dirty || ccpFormGroup.controls['expirationDate'].touched">
                <span *ngIf="ccpFormGroup.controls['expirationDate'].hasError('dateIsNotValidOrDoesntExist')"
                    class="alert alert-danger small  p-1" align="center">
                    Date has invalid format or doesn't exist in calendar.
                </span>
            </span> -->
            
            <!-- <span *ngIf="ccpFormGroup.controls['expirationDate'].dirty">
            
                <span *ngIf="ccpFormGroup.controls['expirationDate'].hasError('yearNotContainOnlyDigits')" 
                    class="alert alert-danger small  p-1" align="center">
                    Year ('yyyy') can contain only digits.
                </span>

                <span *ngIf="ccpFormGroup.controls['expirationDate'].hasError('yearIsNotGreaterOrEqualWithCurrentYearAndLessThanPlus100Years')"
                    class="alert alert-danger small  p-1" align="center">
                    Year must be between {{currentYear}} and {{currentYear + 100}}.
                </span>

                <span *ngIf="ccpFormGroup.controls['expirationDate'].hasError('afterYearMustBeADash')"
                    class="alert alert-danger small  p-1" align="center">
                    After year must be a dash '-' character.
                </span>

                <span *ngIf="ccpFormGroup.controls['expirationDate'].hasError('monthNotContainOnlyDigits')"
                    class="alert alert-danger small  p-1" align="center">
                    Month ('mm') can contain only digits.
                </span>

                <span *ngIf="ccpFormGroup.controls['expirationDate'].hasError('monthIsNotBetween1And12')"
                    class="alert alert-danger small  p-1" align="center">
                    Month must be between 01 and 12 with format 'mm'.
                </span>

                <span *ngIf="ccpFormGroup.controls['expirationDate'].hasError('monthIsNotGreaterOrEqualWithCurrentMonthInCurrentYear')"
                    class="alert alert-danger small  p-1" align="center">
                    Month must be greater or equal with curent month in current year.
                </span>

                <span *ngIf="ccpFormGroup.controls['expirationDate'].hasError('afterMonthMustBeADash')"
                    class="alert alert-danger small  p-1" align="center">
                    After month must be a dash '-' character.
                </span>

                <span *ngIf="ccpFormGroup.controls['expirationDate'].hasError('dayNotContainOnlyDigits')"
                    class="alert alert-danger small  p-1" align="center">
                    Day ('dd') can contain only digits.
                </span>

                <span *ngIf="ccpFormGroup.controls['expirationDate'].hasError('dayIsNotBetween1And28To31DependOnMonthAndLeapYear')"
                    class="alert alert-danger small  p-1" align="center">
                    Day to be valid must between 1 to 28 up to 31 depend on month and leap year.
                </span>

            </span>

            <span *ngIf="ccpFormGroup.controls['expirationDate'].dirty && 
                         ccpFormGroup.controls['expirationDate'].touched">
            
                <span *ngIf="ccpFormGroup.controls['expirationDate'].hasError('dataInputCannotBeEmpty')"
                    class="alert alert-danger small  p-1" align="center">
                    Data input cannot be empty.
                </span>
            
                <span *ngIf="ccpFormGroup.controls['expirationDate'].errors?.minlength
                                                    || ccpFormGroup.controls['expirationDate'].errors?.maxlength"
                    class="alert alert-danger small  p-1" align="center">
                    Length must be of exactly {{fixedlength_expirationDate}} characters.
                </span>
            
            </span>
            
            <span *ngIf="ccpFormGroup.controls['expirationDate'].touched 
                      && ccpFormGroup.controls['expirationDate'].invalid">
            
                <span *ngIf="ccpFormGroup.controls['expirationDate'].errors?.required" class="alert alert-danger small  p-1" align="center">
                    Expiration Date is required.
                </span>
            
            </span>

            <span *ngIf="ccpFormGroup.controls['expirationDate'].touched  ">
            
                <span *ngIf="ccpFormGroup.controls['expirationDate'].hasError('dataInputNotHave10Characters')"
                    class="alert alert-danger small  p-1" align="center">
                    Date input not have 10 characters.
                </span>
            
            </span> -->


            <div class="input-group">

                <div class="input-group-append" (click)="onCalendarClick()" onmousemove="onCalendarClick()" >
                    <button class="btn btn-sm btn-outline-secondary calendar" (click)="datePicker.toggle();"
                        type="button"
                        onmousemove="ccpFormGroup.controls['expirationDate'].updateValueAndValidity()"
                        >
                        <i class="far fa-calendar-alt"></i>
                    </button>
                </div>

                <input type="text" 
                    class="form-control form-control-sm" 
                    id="expirationDate"
                    formControlName="expirationDate" 
                    name="expirationDate" 
                    readonly="{{readonlyAfterSave}}" 
                    minlength="{{fixedlength_expirationDate}}"
                    maxlength="{{fixedlength_expirationDate}}"
                    required        
                    placeholder="choose the date from calendar"  
                    ngbDatepicker #datePicker="ngbDatepicker"      
                    (click)="onCalendarClick()" onmousemove="onCalendarClick()" 
                    onchange="onChangeOnExpirationDateFormControl()"
                    autofocus />
            </div>
            <!-- test: {{test}}
            test2: {{test2}} -->

        </div>


        <div class="form-group">

            <label>Amount</label>

            <label *ngIf="ccpFormGroup.controls['amount'].invalid" style="color: red">&nbsp;*&nbsp;</label>
            <label *ngIf="ccpFormGroup.controls['amount'].valid" style="color: darkgreen">&nbsp;&nbsp;<i class="fas fa-check"></i>&nbsp;</label>

            <span *ngIf="ccpFormGroup.controls['amount'].dirty" >
            
                <span>
            
                    <span *ngIf="ccpFormGroup.controls['amount'].hasError('spacesArePresent')" class="alert alert-danger small  p-1" align="center">
                        Spaces are not accepted.
                    </span>

                    <span *ngIf="ccpFormGroup.controls['amount'].hasError('dotIsFirstCharacterAfterTrim')" class="alert alert-danger small  p-1" align="center">
                        Cannot start with dot, use zero dot instead.
                    </span>
            
                    <span *ngIf="ccpFormGroup.controls['amount'].hasError('isNotNumber')" class="alert alert-danger small  p-1" align="center">
                        It's not a valid number format.
                    </span>

                    <span *ngIf="ccpFormGroup.controls['amount'].hasError('isNotAPositiveNonNullNumber')" class="alert alert-danger small  p-1"align="center">
                        It's not a positive, non-null number.
                    </span>

                    <span *ngIf="ccpFormGroup.controls['amount'].hasError('commaIsPresent')" class="alert alert-danger small  p-1" align="center">
                        Comma is not accepted, use dot instead.
                    </span>

                    <span *ngIf="ccpFormGroup.controls['amount'].hasError('moreThanTwoDecimals')" class="alert alert-danger small  p-1" align="center">
                        Only two decimals are accepted.
                    </span>
                    
                </span>
            
                <span *ngIf="ccpFormGroup.controls['amount'].touched">
            
                    <span *ngIf="ccpFormGroup.controls['amount'].errors?.minlength
                            || ccpFormGroup.controls['amount'].errors?.maxlength" class="alert alert-danger small  p-1" align="center">
                        Length must be bewteen {{minlength_amount}} and {{maxlength_amount}}.
                    </span>
            
                </span>
            
            </span>
            
            <span *ngIf="ccpFormGroup.controls['amount'].touched 
                      && ccpFormGroup.controls['amount'].invalid">
            
                <span *ngIf="ccpFormGroup.controls['amount'].errors?.required" class="alert alert-danger small  p-1" align="center">
                    Amount is required. 
                </span>
            
            </span>

            <input type="text" 
                class="form-control form-control-sm" 
                id="amount"
                formControlName="amount" 
                readonly="{{readonlyAfterSave}}" 
                minlength="{{minlength_amount}}"
                maxlength="{{maxlength_amount}}"
                required        
                placeholder=""        
                autofocus />

        </div>
    

        <div class="form-group">
            
            <label>Security Code (CCV)</label>

            <label *ngIf="ccpFormGroup.controls['securityCodeCCV'].invalid" style="color: red">&nbsp;*&nbsp;</label>
            <label *ngIf="ccpFormGroup.controls['securityCodeCCV'].valid" style="color: darkgreen">&nbsp;&nbsp;<i class="fas fa-check"></i>&nbsp;</label>

            
            <span *ngIf="ccpFormGroup.controls['securityCodeCCV'].dirty" >
            
                <span>

                    
            
                    <span *ngIf="ccpFormGroup.controls['securityCodeCCV'].hasError('spacesArePresent')" class="alert alert-danger small  p-1" align="center">
                        Spaces are not accepted.
                    </span>
            
                    <span *ngIf="ccpFormGroup.controls['securityCodeCCV'].hasError('areNotOnlyDigits')" class="alert alert-danger small  p-1" align="center">
                        Only digits are a valid input.
                    </span>
            
                </span>
            
                <span *ngIf="ccpFormGroup.controls['securityCodeCCV'].touched">
            
                    <span *ngIf="ccpFormGroup.controls['securityCodeCCV'].errors?.minlength 
                            || ccpFormGroup.controls['securityCodeCCV'].errors?.maxlength" class="alert alert-danger small  p-1" align="center">
                        Length must be of exactly {{fixedlength_securityCodeCCV}} digits.
                    </span>
            
                </span>
            
            </span>
            
            <span *ngIf="ccpFormGroup.controls['securityCodeCCV'].touched 
                      && ccpFormGroup.controls['securityCodeCCV'].invalid">
            
                <span *ngIf="ccpFormGroup.controls['securityCodeCCV'].errors?.required" class="alert alert-danger small  p-1" align="center">
                    Security Code (CCV) is required.
                </span>
            
            </span>

            <input type="text" 
                class="form-control form-control-sm" 
                id="securityCodeCCV"
                formControlName="securityCodeCCV" 
                readonly="{{readonlyAfterSave}}" 
                minlength="{{fixedlength_securityCodeCCV}}"
                maxlength="{{fixedlength_securityCodeCCV}}"
                required        
                placeholder=""        
                autofocus />
        </div>

        <div *ngIf="!showRefreshPageInCaseOfFailureAndHideOtherOptions">

            <button  type="submit"
                class="btn btn-outline-secondary px-4 mx-4 py-2 my-2" (click)="onSave()">
                Save item
            </button>
            
            <button type="reset"
                class="btn btn-outline-secondary px-4 mx-4 py-2 my-2" (click)="onClearForm()">
                Clear form
            </button>
            
            <button *ngIf="showFillForm" type="button"
                class="btn btn-outline-secondary px-4 mx-4 py-2 my-2" (click)="onFillForm()">
                Fill form
            </button>

        </div>

        <div *ngIf="showRefreshPageInCaseOfFailureAndHideOtherOptions">
        
            <button type="button" class="btn btn-outline-secondary px-4 mx-4 py-2 my-2" (click)="onRefreshTheEntirePage()">
                Refresh the entire page
            </button>
                
        </div>

        <div class="mt-3">

            <span class="has-info mb-3">

                <span *ngIf="showMessageAlreadySubmitted">
                    <span style="color: darkgreen">{{messageAlreadySubmitted}}</span>
                </span>
                
                <span *ngIf="showFailureMessageOnSaving">
                    <h6 style="color: red;">{{messageFailureForFirstAttemptToSave}}</h6>
                </span>

                <span *ngIf="validMessage != ''">
                    {{validMessage}}
                </span>

                <span *ngIf="showNewItemCreatedIndexMessage" style="color:blue">
                    {{newItemCreatedIndexMessage}}
                </span>

            </span>

            <div *ngIf="!showRefreshPageInCaseOfFailureAndHideOtherOptions && isSavedSuccessfully" class="mt-3">
            
                <button class="btn btn-outline-secondary px-4 mx-4 py-2 my-2" (click)="reloadComponent()">
                    Create new
                </button>
            
                <button class="btn btn-outline-secondary px-4 mx-4 py-2 my-2" [routerLink]="['../view-all']">
                    Back to all
                </button>
            
                <button class="btn btn-outline-secondary px-4 mx-4 py-2 my-2" (click)="goToLastSavedItemView()">
                    View the saved item
                </button>
            
                <button class="btn btn-outline-secondary px-4 mx-4 py-2 my-2" (click)="goToLastSavedItemEditView()">
                    Edit the saved item
                </button>
            
            </div>

        </div>

    </form>

</div>