<div class="container">

    <div *ngIf="!ccp && isAfterDelay" class="mb-5">
        <p>
            No item selected or this item with this id doesn't exist.
            <br>
            Or the database server it's possible to be stopped.
            <br>
            Or internet connection is not available.
        </p>
    </div>
    
    
    <div *ngIf="ccp">
    
        <div class="form-group">
            <label>Credit Card Number</label>
            <div class="form-control">{{ccp.creditCardNumber}}</div>
        </div>
    
        <div class="form-group">
            <label>Card Holder</label>
            <div class="form-control">{{ccp.cardHolder | uppercase}}</div>
        </div>
    
        <div class="form-group">
            <label>Expiration Date</label>
            <div class="form-control">{{ccp.expirationDate}}</div>
        </div>
    
        <div class="form-group">
            <label>Amount</label>
            <div class="form-control">{{ccp.amount}}</div>
        </div>
    
        <div class="form-group">
            <label>Security Code</label>
            <div class="form-control">{{ccp.securityCodeCCV}}</div>
        </div>
    
    </div>
    
</div>